$textColor: #ffffff;
$pColor: #c1c1c1;
$fontFamily: "Rubik", sans-serif;

$bgColor: rgb(0, 0, 0);
$bgImage: linear-gradient(to left, rgba(18, 202, 245, 0.98), rgba(231, 100, 241, 0.83), rgba(255, 101, 28, 0.86));
