@import "../Common/Style/sass/mixin.scss";

.contact {
    @include title;
    justify-content: flex-start;
    align-items: center;
    min-height: 70vh;
    border-bottom: none;

    .placeContact {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 35px;
        width: 100%;
        justify-content: center;

        @media (max-width: 850px) {
            flex-wrap: wrap;
        }

    }
}


.blockItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
}


.item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.04);
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    gap: 20px;
    align-items: center;

}

.item > div p {
    color: white;
}

.phoneIcon {
    max-width: 50px;
    filter: invert(100%)
}




