.contact {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 60vh;
    border-bottom: none;
}

.placeContact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.mainText {
    background: #3f036c;
}

.blockItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}


.item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.04);
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    gap: 20px;

}

.item > div p {
    color: white;
}

.phoneIcon {
    max-width: 50px;
    filter: invert(100%)
}




