.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(33, 37, 41, 0.9) 0 0 10px;
    background-color: #212529;
    padding: 30px;
    color: #fff;
    z-index: 111
}
