.container {
    min-height: 100vh;
    max-width: 1200px;
    border-bottom: 0.05em solid rgba(96, 88, 88, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-image: linear-gradient(to left, #12c2e9, rgba(231, 100, 241, 0.8), rgba(255, 101, 28, 0.91));
    color: #fff;
    background-size: 200% 100%;
    padding: 0 25px;
    line-height: 46px;
    position: relative;
    display: inline-block;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    border-radius: 50px;
    max-width: 180px;
}
.btn:hover {
    transition: ease all 0.35s;
    background-position: right center;
}