.card {
    max-width: 300px;
    max-height: 320px;
    border: 1px solid rgba(248, 180, 180, 0.36);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 15px;
    overflow: hidden;

    .cardPlace {
        overflow: hidden;
        opacity: 0.9;
        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

    .cardInfo {
        background: rgba(0, 0, 0, 0.80);
        position: absolute;
        padding: 5px 5px 0 10px;
        width: 100%;
        top: 0;
        left: 0;
    }
}






