@import "../Common/Style/sass/mixin.scss";

.project {
    @include title;
    justify-content: flex-start;

    .place {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-around;
    }
}






