.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 55px;
}

.place {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.mainSkills {
    padding: 20px;
    background: #3f036c;
}




