.main {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    gap: 25px;
}

.mainText {
    color: white;
    background: #3f036c;
}

.mainPhoto {
    max-width: 100%;
}
