.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 35px;
  gap: 50px;

  @media (max-width: 800px) {
    padding-top: 100px;
    flex-wrap: wrap;
  }
  .mainText {
    max-width: 500px;
    color: white;

    & h1 {
      font-weight: 600;
      font-size: 40px;

      .textTheme {
        background: linear-gradient(to right, #12c2e9, #f64f59, #f64f59);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .btn {
      margin-top: 25px;
    }
  }
  .mainPhoto {
    max-width: 100%;
  }

}


