* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
}

body p {
    color: #888;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 0 5px;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}